.canvas {
    --skin: #369;
    --skin-light: #47a;
    background-color: yellow;
    width: 60vmin;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid red;
}

.canvas * {
    position: absolute;
    box-sizing: border-box;
}

.body {
    width: 80%;
    height: 60%;
    background: 
        radial-gradient(170% 70% at 30% 99%, #fff7 21%, #0000 21.1%),
        radial-gradient(100% 100% at 60% 0, var(--skin-light) 15%, var(--skin) 50%);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    filter: drop-shadow(-1vmin 0vmin) drop-shadow(0.7vmin 0vmin) drop-shadow(0 0.7vmin) drop-shadow(0 -0.5vmin);
}

.fin {
    border-radius: 100% 0 0 0;
    background: var(--skin-light);
    width: 25%;
    height: 35%;
    transform: translate(-50%, -90%) skew(-10deg) rotate(3deg);
    top: 0;
    left: 60%;
}

.tail {
    border-radius: 100% 0 0 0;
    background: var(--skin);
    width: 14%;
    height: 40%;
    transform: translate(0, -90%) skew(-10deg) rotate(10deg);
    top: 50%;
    left: 99%;
}

.tail-bottom {
    width: 12%;
    height: 30%;
    transform: scaleY(-1) skew(-10deg) rotate(10deg);
}

.flipper {
    border-radius: 0 0 0 100%;
    background: var(--skin);
    width: 18%;
    height: 22%;
    transform: skew(10deg) rotate(-16deg);
    top: 70%;
    left: 50%;
    filter: drop-shadow(-1vmin 0vmin) drop-shadow(0.7vmin 0vmin) drop-shadow(0 0.7vmin);
}

.flipper-bottom {
    left: 15%;
    top: 65%;
    transform: skew(10deg) rotate(30deg);
}

.eye {
    width: 8%;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 45%;
    left: 4%;
    background: radial-gradient(circle at 32% 32%, white 14%, black 0);
}

.eye + .eye {
    left: 35%;
}

.mouth {
    border-radius: 50%;
    border: 0.5vmin solid #0000;
    border-bottom: 0.75vmin solid #000;
    border-left: 0.75vmin solid #000;
    width: 10%;
    aspect-ratio: 1;
    top: 50%;
    left: 18%;
    transform: rotate(-45deg);
}

.gills {
    width: 10%;
    height: 14%;
    border-radius: 50%;
    border: 0.25vmin solid #0000;
    border-right: 0.75vmin solid;
    top: 45%;
    left: 56%;
    filter: drop-shadow(1.5vmin 0) drop-shadow(1.5vmin 0);
}

.cheek {
    width: 10%;
    height: 7%;
    background: #fcc8;
    border-radius: 50%;
    left: 3%;
    top: 57%;
}

.cheek + .cheek {
        left: 34.5%;
}