.canvas {
    --skin: #369;
    --skin-light: 47a;
    background-color: white;
    width: 60vmin;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid red;
}

*canvas {
    position: absolute;
    box-sizing: border-box;
}

.body {
    width: 80%;
    height: 60%;
    background: #369;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(30%)
}

.fin {
    border-radius: 100% 0 0 0;
    background: #369;
    width: 25%;
    height: 31%;
    transform: translate(186%, -90%) skew(-10deg) rotate(3deg);
    top: 0;
    left: 60%;
}
